{% extends "base.html" %}
{% load static %}
{% block title %}Обо мне{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="card mx-auto border-0" style="max-width: 600px;">
        <div class="card-body text-center">
            <!-- Аватар пользователя -->
            {% if user.profile_picture%}
            <img 
            id="profileImage" 
            class="card-img-top"  
            style="width: 12rem; height: 12rem; border-radius: 50%; object-fit: cover;" 
            src="/about/author/media/{{ user.profile_picture }}" 
            alt="Profile Picture">
          {%else%}
        
          <img src="{% static 'default.png' %}" id="profiledef" class="card-img-top"  style="width: 18rem;">
            <!-- Информация о пользователе -->
            {%endif%}
            <h3 class="card-title">{{user.first_name}} {{user.last_name}}</h3>
            <p class="text-muted">@{{user.username}}</p>
            
            <!-- Краткая биография -->
            <!-- <p class="card-text mt-3">Люблю путешествия, книги и новые технологии. Работаю как веб-разработчик и постоянно учусь новому!</p> -->
            
            <!-- Статистика пользователя -->
            <div class="row mt-4">
                <div class="col-4">
                    <h5>Посты</h5>
                    <p class="text-muted">{{count}}</p>
                </div>
                <div class="col-4">
                    <h5>Подписчики</h5>
                    <p class="text-muted">{{folower}}</p>
                </div>
                <div class="col-4">
                    <h5>Подписки</h5>
                    <p class="text-muted">{{folow}}</p>
                </div>
            </div>
            
            <!-- Кнопка подписки -->
        </div>
    </div>
</div>

<script type="text/javascript">
    var profileImageElement = document.getElementById("profileImage");
var profilePictureUrl = profileImageElement.src;

// Убираем лишнюю часть пути
var cleanUrl = profilePictureUrl.replace('/about/author/', '/');

// Устанавливаем очищенный URL обратно
profileImageElement.src = cleanUrl;


</script>

{% endblock %}